 
.form-main-title{
    text-align: center!important;
    font-family: 'Inter';
    font-size: 77.768px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;

}
.form-control{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20.4673px;
    line-height: 25px;
    justify-content: center;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .form-control_input{
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
        background: rgba(224, 224, 240, 0.47);
        border: 1px solid #3B0AFF;
        box-shadow: 1.94713px 1.94713px 1.94713px rgba(0, 0, 0, 0.25);
        border-radius: 14.6035px;
        padding:15px;
    }
    .form-control_error{
        color: #FF0A0A;
    }
    .form-control_input:hover, .form-control_input:focus{
 
        background: #E0E0F0;
        border: 1px solid #3B0AFF!important;
        box-shadow: 1.94713px 1.94713px 1.94713px #3B0AFF;
        border-radius: 14.6035px;
 
    }

    .form-control_input.error{
        border: 1px solid #FF0A0A!important; 
    }
    .form-control_input.error:hover, .form-control_input.error:focus{
 
        border: 1px solid #FF0A0A!important;
        box-shadow: 1.94713px 1.94713px 1.94713px #FF0A0A;

 
    }
}
