.pages-login{
    width: 400px;
    height: 600px;
    border-radius: 50px;
    display:flex;
    flex-direction:column;
    justify-items: center;
    background-color: #dadada;
    padding: 50px;
    a {
        font-size: 26px;
        color: black;
    }
    
}