.chat-list_one-row {
    display: flex;
    border-radius: 15px;
    background: #EBF0F1;
    margin: 10px;
    padding: 10px;
    max-width: 513px;
    overflow: hidden;
    cursor:pointer;
    
    .chat-list_one-row_avatar{
        border-radius: 200px;
        overflow: hidden;
        width: 78px;
        height: 78px;
        background: #C1B8F5;
        margin:5px;
        margin-right: 16px;
    }


    .chat-list_one-row_main-info{
        flex-grow:10;
        display: flex;
        flex-direction: column;
        overflow: hidden;               
        .chat-list_one-row_main-info_chat-name{
            font-size: 34px!important;
            display:black
        }
        
        .chat-list_one-row_main-info_description{
            display:flex;
            align-items: flex-end;       
            overflow: hidden;
            .chat-list_one-row_main-info_description_username{
                color: #4685A9;
                font-size: 14px;
                
            } 
            .chat-list_one-row_main-info_description_text{
                
                font-size: 14px;
                overflow: hidden;
                max-width: 300px;
                white-space: nowrap;
            }
        }
        .chat-list_one-row_main-info_time{
            align-self: flex-end;
           
            color: gray;
            font-size: 11px;
        }

    }

}

.chat-list_one-row:hover {
    background: #E9E9EC;
}