
.chat-list{
    display:flex;
    position:relative;
    max-height:calc(100vh - 15px);
     
    aside{
        flex-grow:1;
        overflow-y:scroll;
        flex-basis: max-content;
    }
    .chat-list_messages-wrapper {
        
        flex-grow:25;
        max-height: calc(100vh);
        display: flex;
        flex-direction: column;

        flex-basis: min-content;
    }
    ul{
        padding: 0px;
        margin: none;
        li{
            display: block;
        }
    }
    .chat-list_message-list{
        flex-basis: min-content;
        overflow-y:scroll;
        padding-left:15px;
        padding-right:15px;
        max-height: calc(100vh);
    }
    .chat-list_send-input{
        display: flex;
        border-radius: 15px;
        background: #EBF0F1;
        padding: 35px;
        margin:10px;
        margin-bottom: 15px;
        margin-top: 0px;
        box-shadow: -6.05287px -2.05287px 9.94713px #dadada;
    }
}