.pages-edit-settings{
    height:auto;
}

.pages-settings{
    width: 600px;
    height:auto;
    .pages-settings_profile-card{
        display: flex;
        flex-basis: min-content;
        margin-right: 50px;
        margin-left: 50px;
        .pages-settings_profile-card_avatar{
            background: url('/static/img/avatar.png') center;
            width: 171px;
            height:171px;
            border-radius: 150px;
            cursor:pointer;
        }
        .pages-settings_profile-card_info{
            flex-direction: column;
            display: flex;
            align-content: space-between;
            justify-content: center;
            align-items: flex-end;
            flex-grow: 2;
            margin-right: 50px;
            margin-left: 50px;
            .pages-settings_profile-card_info_name{
                font-size: 34px;
            }
        }
    }
}