
@import '../pages/pagelist/pagelist.css';

@import '../components/chatrow/chatrow.css';
@import '../components/messagerow/messagerow.css';
@import '../components/input/input.css';
@import '../components/button/button.css';
@import '../pages/chatlist/chatlist.css';
@import '../pages/login/login.css';
@import '../static/fonts/inter/inter.css';
@import '../pages/settings/settings.css';
@import '../pages/errorpage/errorpage.css';

*{
    box-sizing: content-box;
    font-family: Inter;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

html,
body,
main {
    height: 100%;
    min-width: 800px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
}

.wrapper{
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-big{
    background: url('/static/img/logo.png');
    width: 510px;
    height: 237px;
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px var(--dark-grey);
}