
@import '../pages/pagelist/pagelist.css';

@import '../components/chatrow/chatrow.css';
@import '../components/messagerow/messagerow.css';
@import '../components/chatlist/chatlist.css';
@import '../static/fonts/inter/inter.css'


*{
    box-sizing: content-box;
    font-family: Inter;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

html{
    overflow: hidden;
}

.wrapper{
    width: 1920px;
}
 